@page {
	size: a4 portrait;
	margin-left: 1cm;
	margin-right: 1cm;
	margin-top: 2cm;
	margin-bottom: 4cm;
	
	@frame header {
		-pdf-frame-content: header;
		/*-pdf-frame-border: 1;*/
		margin-top: 0.5cm;
		margin-left: 1cm;
		margin-right: 1cm;
	}
	
	@frame footer {
		-pdf-frame-content: footer;
		bottom: 0cm;
		margin: 0.5cm;
		margin-left: 1cm;
		margin-right: 1cm;
		height: 3.75cm;
	}
}

body {
	font-size: 12pt;
	font-family: Arial, sans;
	line-height: 1.2em;
}

pre { font-family: inherit; }

h1 { font-size: 24pt; }

h2 {
	font-size: 14pt;
	margin-top: 25px;
}

#item-table, #header, #footer { font-size: 10pt; }

table th { text-align: left; }

#footer { text-align: center; }