@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");

.right { text-align: right !important; }
.input-micro { width: 30px !important; }

.accordion-inner li { margin-bottom: 10px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

