body { padding-top: 40px; }

footer { text-align: center; }

.right { text-align: right !important; }
.input-micro { width: 30px !important; }

.accordion-inner li { margin-bottom: 10px; }


/* remove spinner buttons (it looks better without them and they are not needed) */
input[type=number] {
	-moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

