<!doctype html>
<html lang="de" ng-app="invoiceApp">
	<head>
		<meta charset="utf-8">
		<title>Weingut Haider | Rechnung erstellen</title>

		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="shortcut icon" href="/static/img/favicon.ico">
		
		<meta name="author" content="Philipp Klein <philipptheklein@gmail.com>"
		<meta name="fragment" content="!">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="//weinguthaider.at">Weingut Haider</a>
					<ul class="nav pull-right">
						<li class="divider-vertical"></li>
						<li><a target="_self" href="/admin/">Admin</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			
			<ng-view></ng-view>
			
			<hr>
			
			<footer>
				© Philipp Klein 2012
			</footer>
		</div>
		
		<script src="static/js/jquery-1.7.2.min.js"></script>
		<script src="static/lib/bootstrap/bootstrap.min.js"></script>
		<script src="static/lib/angular/angular.js"></script>
		<script src="static/lib/angular/angular-resource.js"></script>
		<script src="static/lib/angular/i18n/angular-locale_de-at.js"></script>
		<script src="static/js/app.js"></script>
		<script src="static/js/controllers.js"></script>
		<script src="static/js/services.js"></script>
		<script src="static/js/utils.js"></script>
	</body>
</html>
