<!doctype html>
<html lang="de" ng-app="invoiceApp">
	<head>
		<meta charset="utf-8">
		<title>Weingut Haider | Rechnung erstellen</title>

		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
		<link rel="shortcut icon" href="/static/img/favicon.ico">
		
		<meta name="author" content="Philipp Klein <philipptheklein@gmail.com>">
		<meta name="fragment" content="!">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="//weinguthaider.at">Weingut Haider</a>
					<ul class="nav pull-right">
						<li class="divider-vertical"></li>
						<li><a target="_self" href="/admin/">Admin</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			
			<!-- notification area -->
			<div class="row" ng-controller="AlertCtrl">
				<div class="span6 offset3">

					<div ng-repeat="alert in alerts" id="{{alert.id}}" class="alert alert-block fade in hide {{alert.type}}">
						<button type="button" class="close" ng-show="!alert.modal" ng-click="onClose($index)">&times;</button>
						<h4 class="alert-heading" ng-show="alert.heading">{{alert.heading}}</h4>
						<p>{{alert.text}}</p>
						<p ng-show="alert.modal">
							<button type="button" class="btn btn-success" ng-click="onPositiveAction(alert.id)">
								Erneut versuchen
							</button>
							<button type="button" class="btn" ng-click="onNegativeAction(alert.id)">
								Zurücksetzen
							</button>
						</p>
					</div>

				</div>
			</div>
			
			<ng-view></ng-view>
			
			<hr>
			
			<footer>
				© Philipp Klein 2012
			</footer>
		</div>
		
		<script src="static/js/jquery-1.7.2.min.js"></script>
		<script src="static/lib/bootstrap/bootstrap.min.js"></script>
		<script src="static/lib/angular/angular.js"></script>
		<script src="static/lib/angular/angular-resource.js"></script>
		<script src="static/lib/angular/i18n/angular-locale_de-at.js"></script>
		<script src="static/js/app.js"></script>
		<script src="static/js/controller/AlertCtrl.js"></script>
		<script src="static/js/controller/InvoiceCtrl.js"></script>
		<script src="static/js/services/RestServices.js"></script>
		<script src="static/js/services/InvoiceService.js"></script>
	</body>
</html>
