<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Weingut Haider | Rechnung erstellen</title>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <p>Hallow Welt!</p>
        
        <div class="span6">
        
          {% if categories %}
          <ul class="accordion unstyled" id="wine-list">
            {% for category in categories %}
            <li class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#wine-list" href="#collapse-{{ category.name }}">
                  {{ category.name }}
                </a>
              </div>
                {% if wines %}
                <div class="accordion-body collapse" id="collapse-{{ category.name }}" style="height: 0px;">
                  <ul class="accordion-inner">
                    {% for wine in wines %}
                      {% if wine.category == category %}
                      <li id="wine-{{ wine.id }}">
                        <strong class="description">{{ wine.description }}</strong><br>
                        {{ wine.quantity }} l – € <span class="price">{{ wine.price }}</span>
                        <span class="input-prepend input-append">
                          <button id="decrease-{{ wine.id }}" class="btn" onClick="decrease(this.id)"><i class="icon-minus">-</i></button><!--
                       --><input id="quantity-{{ wine.id }}" class="input-micro" type="number" onChange="updateTable(this.id)"><!--
                       --><button id="increase-{{ wine.id }}" class="btn" onClick="increase(this.id)"><i class="icon-plus">+</i></button>
                        </span>
                      </li>{% endif %}
                    {% endfor %}
                  </ul>
                </div>  
                {% endif %}
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
        
        <div class="span6">
         <table id="wine-table" class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Bezeichnung</th>
                <th class="right">Preis</th>
                <th class="right">Anzahl</th>
                <th class="right">Summe</th>
              </tr>
            </thead>
            <tbody>
              <!--<tr>
                <td>1</td>
                <td>Federwolke 2011</td>
                <td class="right">€ 3,50</td>
                <td class="right">3</td>
                <td class="right">€ 10,50</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Merlot 2010</td>
                <td class="right">€ 12,00</td>
                <td class="right">2</td>
                <td class="right">€ 24,00</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Two Horses Lake Angle 1989</td>
                <td class="right">€ 75,00</td>
                <td class="right">1</td>
                <td class="right">€ 75,00</td>
              </tr>-->
            </tbody>
          </table>
          <hr>
          <form class="well form-horizontal" action="/rechnung/submit/" method="post">
            {% csrf_token %}
            
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="customer-data">Kundendaten</label>
                <div class="controls">
                  <textarea id="customer-data" class=""></textarea>
                </div>
              </div>
            </fieldset>
            
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="rebate">Rabatt</label>
                <div class="controls">
                  <div class="input-append">
                    <input type="number" id="rebate" class="input-mini"><span class="add-on">%</span>
                  </div>
                </div>
              </div>
            </fieldset>
            
            <fieldset>
              <div class="control-group">
                <div class="controls">
                  <input type="submit" class="btn btn-primary" value="Rechnung erstellen">
                  <button class="btn">Abbrechen</button>
                </div>
              </div>
            </fieldset>
          </form>
          
        </div>
      </div> <!-- .row-fluid -->
      <hr>
      <footer>
        © Philipp Klein - 2012
      </footer>
      
    </div>
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
