<div class="row">
	<div class="span6">
		<div class="page-header">
			<h2>Weine</h2>
		</div>
		<ul class="accordion unstyled" id="wine-list">
			<li class="accordion-group" ng-repeat="category in invoice.categories">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#wine-list" data-target="#collapse-{{category.id}}">
						{{category.name}}
					</a>
				</div>
				<div class="accordion-body collapse" id="collapse-{{category.id}}">
					<ul class="accordion-inner">
						<li ng-repeat="w in category.wines | orderBy: 'description'" ng-controller="WineCtrl" ng-init="wine = w">
							<strong>{{wine.description}}</strong><br>
							{{wine.volume / 1000 | number}} l – {{wine.price | currency:'€ '}}
							<span class="input-append pull-right" style="position: relative; bottom: 15px;">
								<input class="input-micro right" type="number" ng-model="quantity" ng-change="updateItem(quantity)">
								<button class="btn" ng-click="updateItem(quantity+1)"><i class="icon-plus"></i></button>
								<button class="btn" ng-click="updateItem(quantity-1)"><i class="icon-minus"></i></button>
							</span>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>

	<div class="span6">
		<div class="page-header">
			<h2>Übersicht</h2>
		</div>
		<table id="wine-table" class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Bezeichnung</th>
					<th class="right">Preis</th>
					<th class="right">Anzahl</th>
					<th class="right">Summe</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in invoice.items">
					<td>{{$index + 1}}</td>
					<td>{{item.wine.description}}</td>
					<td class="right">{{item.wine.price | currency: "€ "}}</td>
					<td class="right">{{item.quantity}}</td>
					<td class="right">{{item.sum() | currency: "€ "}}</td>
				</tr>
					<tr class="well" ng-show="invoice.rebateInEuro()">
					<td class="right" colSpan="3">Rabbat</td>
					<td class="right">{{invoice.rebate}} %</td>
					<td class="right">{{invoice.rebateInEuro() | currency: "€ "}}</td>
				</tr>
				<tr class="well">
					<td colSpan="4" class="right"><strong>Gesamt</strong></td>
					<td class="right"><strong>{{invoice.total() | currency: "€ "}}</strong></td>
				</tr>
			</tbody>
		</table>

		<hr>

		<!-- form for smaller screens (tablets, smartphones) -->
		<form class="form hidden-desktop">
			<div class="control-group">
				<label class="control-label" for="customer-data">Kundendaten</label>
				<div class="controls">
					<textarea id="customer-data" name="customer-data" class="input-xlarge" rows="4" ng-model="invoice.customer" ng-disabled="isSubmitting">
					</textarea>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="rebate">Rabatt</label>
				<div class="controls">
					<div class="input-append">
						<input type="number" id="rebate" name="rebate" class="input-mini right" ng-model="invoice.rebate" ng-disabled="isSubmitting">
						<span class="add-on">%</span>
					</div>
				</div>
			</div>

			<div class="form-actions">
				<button class="btn btn-success" ng-disabled="!invoice.items.length || isSubmitting" ng-click="submit()">Rechnung erstellen</button>
				<button class="btn" ng-disabled="!invoice.items.length || isSubmitting" ng-click="reset()">Zurücksetzen</button>
			</div>
		</form>

		<!-- form for larger screens (desktops) -->
		<form class="form-horizontal visible-desktop">
			<div class="control-group">
				<label class="control-label" for="customer-data">Kundendaten</label>
				<div class="controls">
					<textarea id="customer-data" name="customer-data" class="input-xlarge" rows="4" ng-model="invoice.customer" ng-disabled="isSubmitting">
					</textarea>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="rebate">Rabatt</label>
				<div class="controls">
					<div class="input-append">
						<input type="number" id="rebate" name="rebate" class="input-mini right" ng-model="invoice.rebate" ng-disabled="isSubmitting">
						<span class="add-on">%</span>
					</div>
				</div>
			</div>

			<div class="form-actions">
				<button class="btn btn-success" ng-disabled="!invoice.items.length || isSubmitting" ng-click="submit()">Rechnung erstellen</button>
				<button class="btn" ng-disabled="!invoice.items.length || isSubmitting" ng-click="reset()">Zurücksetzen</button>
			</div>
		</form>

	</div>
</div> <!-- .row-fluid -->
